html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.customLink {
    text-decoration: none; /* elimina el subrayado */
    color: #333; /* cambia el color del enlace */
}

.customLink:hover{
    color:white
}